* {
    font-family: "Arial";
}

.more-label {
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
}

.chart-panel {

}

g text {
}

defs g {
    width: 100px;

}

.procedure-label {
    font-family: "Arial";
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.changePassPanel {
    margin-top: 10px;
}