.evenRow {
    background-color: rgba(7, 110, 184, 0.11);
}

.expenseTableHeader {
    background-color: #076eb8;
    color: white;
    font-weight: bold;
}

.expenseTable {
    border: 1px solid silver;
    padding: 2px;
    margin-top:10px;
}

.expenseTablePriceColumn {
    text-align: right;
    width: 4em;
}

.expenseTableDateColumn {
    width: 9em;
}

.expenseTableNameColumn {
    width: 7em;
}

.changePassPanel {
    margin-top: 10px;
}